body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.6px;
}

.header {
  float: left;
  width: 96%;
  padding: 1% 2%;
  background: #eee;
}

.header h2 {
  float: left;
  margin: 0px;
  color: chocolate;
}

a {
  color: #000;
  text-decoration: none;
}

.cart {
  float: right;
}

.badge {
  float: left;
  width: 23px;
  border-radius: 100%;
  background: chocolate;
  color: #fff;
  text-align: center;
  line-height: 25px;
  font-size: 13px;
}

.container {
  float: left;
  width: 80%;
  margin: 20px 10%;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}
.product-card {
  float: left;
  width: 23%;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px 1%;
  background: #fafafa;
}

.ProductBadge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: chocolate;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  padding: 0px 5% 10px;
}

.addToCart {
  border: none;
  background: chocolate;
  outline: none;
  padding: 5px 10%;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 5px;
}

.viewInfo {
  float: right;
  border: none;
  background: chocolate;
  outline: none;
  padding: 5px 10%;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  margin-right: 5px;
}

.addToCart:hover {
  background: rgb(109, 46, 1);
  transition: 0.3s;
}

/*Product detail css start here*/

.imagePrev {
  float: left;
  width: 40%;
  height: 400px;
}

.imagePrev img {
  float: left;
  width: 100%;
}

.productInfo {
  float: left;
  width: 59%;
  border: 1px solid red;
  height: 400px;
}

.cartColoumn {
  float: left;
  width: 16%;
}

.cartColoumn span {
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.imagesHolderCart {
  float: left;
  width: 11.2%;
  padding: 2%;
}

.imagesHolderCart img {
  float: left;
  width: 100%;
}

.productName {
  float: left;
  width: 16%;
  text-align: center;
}

.app {
  float: left;
  width: 100%;
}

.cartTitle {
  float: left;
  width: 60%;
  margin: 10px 0;
}
.ps {
  float: left;
  width: 25%;
  border: 1px solid #ccc;
  margin: 0 3px;
  cursor: pointer;
}

.ps:hover {
  background: #ccc;
  color: #fff;
}

.quantity {
  float: left;
  width: 16%;
  text-align: center;
  margin: 0 auto;
}

.qtyBtn {
  float: left;
  width: 70%;
  margin: 0 15%;
}

.cartTotalHolder {
  float: right;
  width: 10%;
  margin-right: 5%;
}

.clearCart {
  float: right;
  border: 1px solid chocolate;
  width: 100%;
  padding: 2%;
  background: none;
  color: chocolate;
  outline: none;
  margin: 10px 0;
}

.clearCart:hover {
  background: chocolate;
  color: #fff;
}

.totalPriceHolder {
  float: left;
  width: 100%;
}

.totalPriceHolder h3 {
  margin: 10px 0;
}

.fltRight {
  float: right;
}

.txtCenter {
  text-align: center;
}

.mr-10 {
  margin-top: 10px;
}
